@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535d98;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b165a;
}

.LgnDesign {
  @apply p-2 w-[300px] rounded-md focus:outline-2 focus:outline-blue-500 focus:shadow-md  focus:shadow-blue-400 select-none text-[20px];
}

.divCenter {
  @apply items-center justify-center h-full w-full flex;
}
